@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: 'Montserrat',
        sans-serif;
}

.prebaruvanje {
    text-align: center;
}

.naslov {
    text-align: center;
    margin-top: 5%;
}

.prebaruvanje input {
    width: 15vw;
    border-radius: 5px;
    height: 2vh;
}

input:focus::placeholder {
    color: transparent;
}

.tabela,
th,
td {
    border: 1px solid black;
    border-spacing: 10px;
}

.tabela {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.nevidliva {
    visibility: hidden;
    opacity: 0.0;
}